.sidebar {
    height: 100%;
    position: fixed;
    width: 10%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidebar-element:hover {
    color: #555;
}

input[type="file"] {
    display: none;
}

.notes {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: start;
}

.noteText {

}

.noteBlock {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: minmax(auto, 40px) 4fr;
    background-color: #333;
    margin: 20px;
    border: solid;
    border-color: #333;
    border-radius: 2px;
    padding: 3px;
    max-width: 20vw;
    min-height: 20vh;
    min-width: 20vw;
    filter: drop-shadow(2px 0px 3px #333);
}

.noteButton > i {
    font-size: 20px;
}

.noteButton {
    justify-self: end;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 7px;
    margin-right: 7px;
    border: 0;
    border-radius: 6px;
    color: white;
    filter: drop-shadow(1px 1px 3px #111);
}

.noteDelete {
    grid-column: 3;
    grid-row: 1;
    background: #c44152;
}

.addNote {
    background: #333;
    margin: 2%;
    width: 90%;
    height: 40px;
    text-align: center;
    filter: drop-shadow(1px 1px 3px #111);
    color: white;
    border: 0;
    border-radius: 6px;
}

.addNote > i {
    font-size: 20px;
}

.image-file-upload {
    background: #333;
    margin: 2%;
    width: 90%;
    height: 40px;
    text-align: center;
    filter: drop-shadow(1px 1px 3px #111);
    color: white;
    border: 0;
    border-radius: 6px;
}

.image-file-upload > i {
    font-size: 20px;
}

.noteDelete:hover {
    filter: drop-shadow(2px 2px 1px #111);
}

.noteImage {
    grid-column: 2;
    grid-row: 1;
    background: #3bb1d9;
}

.noteImage:hover {
    filter: drop-shadow(2px 2px 1px #111);
}

.noteImage:hover {
    filter: drop-shadow(2px 2px 3px #111);
}

.note-fragment {
    font-family: "Gill Sans", sans-serif;
    width: 100%;
}

.note {
    margin: 2%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    word-wrap: break-word;
    max-width: 96%;
    background-color: #FFF;
    color: #000;
    resize: none;
    outline: none;
    border: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 5px;
    display: inline-block;
    white-space: pre-wrap;
}

#imgUpload {
    display: none;
}

body {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
}

.functionBar {
    border: 1px solid #AAA;
    border-radius: 7px;
    background: #DDD;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    height: 100%;
}

.image-thumbnail {
    display: block;
    max-height: 90%;
    object-fit: contain;
    padding: 1%;
}

.image-viewer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 80%;
    justify-items: center;
    align-items:center;
    overflow-y: scroll;
}

.modal > .modal-title {
    font-family: "sans-serif";
    height: 20%;
    color: #AAA;
    text-align: center;
}

.image-selection {
    border: none;
    background: none;
}

.note-content-image {
    max-width: 100%;
    max-height: 100%;
}

.main {
    position: fixed;
    margin-left: 10%;
    font-family: arial;
    margin-right: 5%;
    height: 100%;
    width: calc(95% - 160px);
}
